body {
  background-color: fff;
  text-align: center;
}

.letter {
  font-size: 90px;
  font-family: "comic-sans", cursive;
  display: inline-block;
  color: blueviolet;
}

.letter.active {
  transform: scale(1.5) rotate(30deg);
  color:aqua ;
}